.App {
  border: 1px solid black;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.login {
  border: 1px solid black;
  padding: 1em;
  margin: 4em;
  width: 12em;
}

.title {
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.4em;
  margin: 1em;
}

button:hover {
  cursor: pointer;
}

select {
  margin: 1em;
  height: 1.6em;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 1em auto;
}

.menuItem {
  background-color: beige;
  padding: 1em;
  border: 1px solid black;
}

.menuItem:hover {
  background-color: wheat;
}

.userInfoContainer {
  border: 1px solid black;
  width: fit-content;
  padding: 0.2em;
  margin: 1em 0em;
}
.userInfoLine {
  margin: 1em 0em;
}

textArea {
  width: 100%;
  resize: none;
  height: 10em;
}

.addEventsContainer {
  width: 20em;
  border: 1px solid black;
}

input {
  width: 100%;
}

.eventContainer {
  border: 1px solid black;
}
