* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  border: 1px solid black;
}

.loginContainer {
  display: flex;
  justify-content: center;
}

.login {
  border: 1px solid black;
  padding: 1em;
  margin: 4em;
  width: 12em;
}

.title {
  text-align: center;
  padding: 1em;
  border-bottom: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.4em;
  height: 2.4em;
  background-color: rgb(17, 112, 255);
  color: white;
  border-radius: 0.2em;
  margin: 0.6em 0em;
  transition: all 0.4s;
}

button:hover {
  background-color: rgb(212, 234, 255);
  color: black;
}

button:hover {
  cursor: pointer;
}

select {
  margin: 1em;
  height: 1.6em;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 1em auto;
}

.menuItem {
  background-color: beige;
  padding: 1em;
  border: 1px solid black;
}

.menuItem:hover {
  background-color: wheat;
}

.userInfoContainer {
  border: 1px solid black;
  width: fit-content;
  padding: 0.2em;
  margin: 1em 0em;
}
.userInfoLine {
  margin: 1em 0em;
}

textArea {
  width: 100%;
  resize: none;
  height: 10em;
}

.addEventsContainer {
  width: 20em;
  border: 1px solid black;
}

input {
  width: 100%;
}

.eventContainer {
  border: 1px solid black;
  padding: 0.6em;
}

.organiserNameContainer {
  border: 1px solid black;
  max-width: 14em;
  overflow-x: auto;
  padding: 0em 1em;
  background-color: rgb(193, 226, 255);
}

.organiserName {
}

.loggedInBar {
  background-color: rgb(226, 244, 255);
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loggedInInfo {
  padding: 0.6em;
  border: 1px solid black;
}
